html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 0px;
}